@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #09090B;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(9, 9, 11, 0.3);
  backdrop-filter: blur(5px);
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 0.5px solid #05125a;
  animation: navbarSlide 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes navbarSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: color 1s ease, opacity 1s ease;
}

.navbar a:hover {
  color: #05125a;
  opacity: 0.7;
}

.navbar a.active {
  color: #05125a;
}

#home .buy-button {
  background-color: #05125a;
  color: white;
  font-size: 13px;
  font-family: Poppins;
  padding: 15px 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(8, 26, 117, 0.7);
  -moz-box-shadow: 0px 0px 25px 1px rgba(8, 26, 117, 0.7);
  box-shadow: 0px 0px 25px 1px rgba(8, 26, 117, 0.7);
  transition: background-color 0.5s ease, transform 0.8s ease, box-shadow 0.8s ease;
  position: relative;
}

#home .buy-button span {
  margin-right: 15px;
}

#home .buy-button-img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  animation: moveLeftRight 1.5s ease-in-out infinite;
  transition: margin-left 0.3s ease;
}

#home .buy-button:hover {
  background-color: #041052;
  -webkit-box-shadow: 0px 0px 30px 3px rgba(8, 26, 117, 0.72);
  -moz-box-shadow: 0px 0px 30px 3px rgba(8, 26, 117, 0.72);
  box-shadow: 0px 0px 30px 3px rgba(8, 26, 117, 0.72);
  transform: scale(1.05, 1.05);
}

#home .buy-button:hover .buy-button-img {
  margin-left: 30px;
}

@keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
}

#home {
  position: relative;
}

#home h1 {
  font-size: 3rem;
  font-weight: bold;
}

.main-div {
  width: 100%;
  height: 450px;
  background-color: #18181a;
  margin-top: 180px;
  left: 0;
  z-index: -1;
}

#home p {
  color: rgb(169, 169, 169); /* 10% lighter grey */
}

.main-header {
  font-size: 1.95rem; /* 35% smaller from original size (3rem) */
  font-weight: bold;
  margin: 30px 0 10px calc(50px + 30%);
  color: white;
  text-align: left;
}

.main-description {
  font-size: 0.9rem; /* 40% smaller */
  margin-left: calc(50px + 30%);
  color: rgb(169, 169, 169); /* 10% lighter grey */
  max-width: 600px;
  text-align: left;
}


.page {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  visibility: hidden;
  color: #fff;
}

.page.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
