body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #09090B;
  overflow: hidden;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #09090B;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 0.5px solid red;
  animation: navbarSlide 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes navbarSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: color 1s ease, opacity 1s ease;
}

.navbar a:hover {
  color: red;
  opacity: 0.7;
}

.navbar a.active {
  color: red;
}

.page {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  visibility: hidden;
}

.page.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
