body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #09090B;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #09090B;
  padding: 20px 0;
  width: 100%;
  position: relative;
  animation: navbarSlide 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  height: 110%;
  border-bottom: 0.5px solid red;
}

@keyframes navbarSlide {
  0% {
    transform: translateY(-60%);
  }
  40% {
    transform: translateY(15%);
  }
  70% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  position: relative;
  transition: color 1s ease, opacity 1s ease;
}

.navbar a:hover {
  color: red;
  opacity: 0.7;
}

.navbar a.active {
  color: red;
}

.navbar a[title]:hover::after {
  content: "";
  display: none;
}

.page {
  visibility: hidden; /* Pages are hidden by default */
  padding: 20px;
  transform: translateY(20%); /* All pages start at 20% off-screen */
  transition: transform 1s ease; /* Smooth transition for the transform */
}

.page.show {
  visibility: visible; /* Page becomes visible when 'show' class is added */
  transform: translateY(0%); /* Animate to the final position at 0% */
}
